<!DOCTYPE xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1></h1>
    <form method="post">
        Nome: <input type="text" value="" name="nome"/>
        Local: <input type="text" value="" name="local"/>
        Data: <input type="text" value="" name="data"/>
        Horario: <input type="text" value="" name="horario"/>

        <button type="button">Salvar</button>
    </form>
</body>
</html>